body{ 
    font-family: 'Arial', sans-serif;
    background-color: #02cdfa;
}

h1 { 
color:#bcfa02;

}

thead {
   font-weight:bold;
}

thead td {
    text-align: center;
}

table {
     border-collapse:collapse;
     width:100%px;
}

td {
  border: 1px solid black; 
  padding: 10px;
}